.main-one {
  padding: 5px;
  margin: 20px auto;
  background-color: #ccc;
}

.main-c {
  background-color: #ccc;
  border: 2px solid #fc0808;
  width: 500px;
  height: 200px;
  margin: 10px;
  display: flex;
}

.item {
  display: grid;
  place-items: center;
  padding: 5px;
}

.one-a {
  background-color: #fcc;
}

.one-b {
  background-color: #cfc;
}

.one-c {
  background-color: #ccf;
}

.one-d {
  background-color: #497be6;
}
.one-e {
  background-color: #a749e6;
}
.one-f {
  background-color: #6649e6;
}

.tc-item {
  width: 200px;
}

/* flex-grow */
.three-a,
.three-b,
.three-c {
  width: 100px;
}

/* flex-shink */
.four-a,
.four-b,
.four-c {
  width: 70%;
}

/* flex */
.label-six {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.eight-main {
  flex-wrap: wrap;
}
.eight-a,
.eight-b,
.eight-c,
.eight-d,
.eight-e,
.eight-f {
  width: 20%;
}
