* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  width: 96%;
  margin: 5px auto;
  box-shadow: inset 2px 2px 5px #000;
  border-radius: 5px;
  text-align: center;
  background-color: #5b89e5;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.info:hover {
  box-shadow: 0px 0px 5px #ccc;
}

.origianl-add {
  color: #000;
}

.info-img {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  margin: 10px;
  min-width: 180px;
  text-align: center;
  border-radius: 10px;
  padding-top: 10px;
  box-shadow: 0px 0px 10px #606060;
}

.column:hover {
  box-shadow: 2px 2px 0px #999;
}

.column .itemTitle {
  border-bottom: 2px solid #ccc;
  padding-bottom: 3px;
}

.col-box {
  max-height: 500px;
  overflow-y: auto;
}

li {
  list-style-type: none;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #fff;
}

.column-one {
  background-color: #93da90;
}

.column-two {
  background-color: #007cdc;
}

.column-three {
  background-color: #887ddd;
}

.column-four {
  background-color: #81d582;
}

.column-five {
  background-color: #98b3dd;
}

.column-six {
  background-color: #8cd995;
}

.column-seven {
  background-color: #6666ff;
}

.column-eight {
  background-color: #6699ff;
}

.column-nine {
  background-color: #aede9c;
}

.column-ten {
  background-color: #3399ff;
}
